[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/odl-gerrit-archetypes-committers
[access "refs/heads/*"]
	read = group GitHub Replication
[project]
	description = This Archetypes project will host OpenDaylight example project templates, initially in the form of Maven archetypes.
